#img1{
  width: 25%;
}
.column{
  float: right;
  padding: 10px;
}
.container{
  text-align: center;
}
a{
  border: 5px solid black;
  padding: 10px;
  background-color: #4E9CAF;
  display: inline-block;
  color: black;
}
.imag1{
  text-align: center;
}
