<!DOCTYPE html>
{% load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #0091EA";>
      <h1 class="navbar-brand" style="color:White;">National Voting System</h1>
      <h2 class="navbar-brand" style="color:white;">New Smart Card Registration</h2>
    </nav>
    <div class="container" style="text-align:center;">
      <div class="jumbotron">
      <form  action="" method="post">
        <label>Enter your existing Id Number</label>
        <input type="number" name="" value="ID">
        <input type="submit" name="Submit" value="submit">
      </form>
    </div>
    </div>
  </body>
</html>
