<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/users.css" %}">
    <style>
        .i-am-centered {
            margin: auto;
            max-width: 300px;
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #0091EA";>
      <h1 class="navbar-brand" style="color:White;">National Voting System</h1>
    </nav>
    <div class="jumbotron">
    <div class="container">
    <h1>Please signup here !</h1>
    <form  method="post">
       <div class="i-am-centered">
      <div class="form-group">
               <label>First Name:</label>
               <br>
               {{ form.first_name }}
           </div>
           <div class="form-group">
               <label>Last Name: </label>
               <br>
               {{ form.last_name }}
           </div>
           <div class="form-group">
               <label>Email Id:</label>
               <br>
               {{ form.email }}
           </div>
           <div class="form-group">
               <label>Aadhaar No:</label>
               <br>
               {{ form.Aadhaar_number }}
           </div>
           </div>
      {% csrf_token %}
      <input type="submit" class = 'btn btn-primary' name="" value="Submit">
    </form>
</div>
</div>
  </body>
</html>
